@model IEnumerable<Task_Student_Teacher_Course__Management_System.Models.Student>

@{
    ViewData["Title"] = "GetStudents";
}

@* for sweet alert *@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<h1 class="text-center my-4">Student Management</h1>

<div class="form-group row mb-4">
    <div class="col-sm-12 text-center">
        <a asp-action="AddStudent" asp-controller="Admin" class="btn btn-primary mr-2">Create New</a>
        <a asp-action="GetStudents" asp-controller="Admin" class="btn btn-warning ml-2">Back to List</a>
    </div>
</div>

<form asp-action="GetStudents" method="get" class="mb-4">
    <div class="form-group d-flex ">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control w-50" placeholder="Search by FirstName, LastName, Course, StudentId">
        <button type="submit" class="btn btn-primary ml-2">Search</button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a asp-action="GetStudents" asp-route-sortOrder="@ViewData["StudentIdSortParam"]" class="sort-link">
                        StudentId <i class="bi bi-arrow-down-up"></i>
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="GetStudents" asp-route-sortOrder="@ViewData["FirstNameSortParam"]" class="sort-link">
                        FirstName <i class="bi bi-arrow-down-up"></i>
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="GetStudents" asp-route-sortOrder="@ViewData["LastNameSortParam"]" class="sort-link">
                        LastName <i class="bi bi-arrow-down-up"></i>
                    </a>
                </th>
                <th scope="col">DateOfBirth</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.DateOfBirth.ToString("dd-MM-yyyy")</td>
                    <td>@item.Email</td>
                    <td>
                        <img src="@item.StudentImageURL" height="70px" width="70px" alt="Image" class="img-thumbnail" />
                    </td>
                    <td class="text-center">
                        <a asp-controller="Admin" asp-action="EditStudent" asp-route-id="@item.StudentId" class="btn btn-info btn-sm">Edit</a>
                        <a asp-controller="Admin" asp-action="DetailsStudent" asp-route-id="@item.StudentId" class="btn btn-warning btn-sm">Details</a>
                        <a asp-controller="Admin" asp-action="DeleteStudent" asp-route-id="@item.StudentId" class="btn btn-danger btn-sm deleteButton">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.querySelectorAll('.deleteButton').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const href = this.getAttribute('href');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete this Student!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'This Student has been deleted.',
                        'success'
                    ).then(() => {
                        window.location.href = href;
                    });
                }
            })
        });
    });
</script>

<style>
    .sort-link {
        text-decoration: none;
        color: inherit;
    }

    .sort-link:hover {
        color: #000;
    }

    .form-control {
        max-width: 300px;
        margin: auto;
    }
</style>
