@model IEnumerable<Task_Student_Teacher_Course__Management_System.Models.Student>

@{
    ViewData["Title"] = "GetStudents";
}

<h1>GetStudents</h1>

<p>
    <a asp-action="AddStudent" asp-controller="Admin" class=" btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">StudentId</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">DateOfBirth</th>
            <th scope="col">Email</th>
            <th scope="col">Course</th>
            <th scope="col">Teacher</th>
            <th scope="col">Image</th>


            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td>@item.Email</td>
                <td>@item.Course</td>
                <td>@item.Teacher</td>
                <td>
                    <img src="@item.StudentImageURL" height="70px" width="70px" alt="Image  " />
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="EditStudent" asp-route-id="@item.StudentId" class="btn btn-info">Edit</a>
                    
                    <a asp-controller="Admin" asp-action="DeleteStudent" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


